@model IEnumerable<MVC_Produkt_Manager.Models.Product>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    string pageSizeA = _httpContextAccessor.HttpContext.Request.Query["pageSizeA"].ToString();
    string search = _httpContextAccessor.HttpContext.Request.Query["search"].ToString();


    ViewData["Title"] = "Index";



    Pagination pagination = new Pagination();
    int pageNr = 0;
    if (ViewBag.Pagination != null)
    {
        pagination = ViewBag.Pagination;
        pageNr = pagination.CurrentPage;
    }


    IEnumerable<string> listTest = new List<string> { "10", "25", "30" };

}

<form method="get" >
    <div class="col-md-10">


        @Html.DropDownList("pageSizeA", new List<SelectListItem>
                {
                   new SelectListItem{ Text="12", Value = "13" },
                   new SelectListItem{ Text="25", Value = "25" },
                  new SelectListItem{ Text="50", Value = "50" },
                },
                new { @onchange = "this.form.submit();"}
                )

    </div>
</form>



@*@Html.DropDownListFor(model => model., (SelectList)ViewData["Student"], new { @onchange = "this.form.submit();" })*@

<h1>Index</h1>

<form asp-route-pageSizeA="@pageSizeA" asp-route-search="@search" method="get">


    <input type="text" name="pageSizeA"value="@pageSizeA" />
    <input type="text" name="search" class="input" placeholder="Suche... Produkt" />
    <input asp-route-pageSizeA="@pageSizeA" asp-route-search="@search" type="submit" class="btn btn-secondary" />

</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <button type="button" onclick="ajaxModal(@item.Id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            demo modal
                        </button>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div id="bodyModal"></div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </tbody>

    </table>




</form>

<partial name="_PaginationPartial" model="@pagination" />



@section Scripts {
    <script>

        function ajaxModal(id) {


            var urlWithId = '@Url.Action("fillModal", "Product")?id=' + id;

            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: urlWithId,
                    success:
                        function (response) {
                            // Change the Response Array from 0 !!!!!
                            $('#modalTitel').text(response.productName)
                            $('#bodyModal').text("Beschreibung: "+ response.description)

                        },
                    error:
                        function (response) {
                            alert("Error: " + response);
                        }
                });

        }


    </script>
}



